@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .timer-progress {
        border-radius: 50%;
        background: conic-gradient(#2C599D calc(var(--value) * 1%), #193A6F 0);
        /*background: conic-gradient(#11224D calc(var(--value) * 1%), #2C599D 0); - another variant*/
        mask: radial-gradient(transparent 60%, #000 0);
        mask-mode: alpha
    }

    .subtimer {
        @apply relative m-1 mt-2 mb-2 p-4 bg-gray-100 rounded-full h-8 flex items-center select-none;
        width: var(--width, auto);
    }

    .subtimer-active {
        background: linear-gradient(90deg, #5B84C4, calc(var(--value) * 1%), transparent 0);
        
        @apply subtimer
    }

    .ghost {
        @apply opacity-20
    }

    .edit-button {
        @apply rotate-90 text-gray-700 text-3xl cursor-pointer
    }
    
    .repeater {
        @apply m-1 border-l-8 border-b-[16px] border-t-2 border-orange-secondary rounded-xl;
        width: var(--width, auto);
    }
    
    .repeater-values {
        @apply  relative flex bg-orange-secondary text-dark-blue-secondary font-bold rounded-r-lg
    }

    .edit-button-repeater {
        @apply rotate-90 text-gray-700 text-2xl cursor-pointer ml-1
    }
}